.rui.btn {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.3px;
  padding: 7px 12px;
  text-align: center;
}

.btn-blue,
.rui.btn.btn-blue {
  border: solid 3px #1d98d5;
  border-radius: 3px;
  background-color: #1d98d5;
  color: #fff;
}

.btn-blue:active,
.rui.btn.btn-blue:active,
.btn-blue:focus,
.rui.btn.btn-blue:focus,
.btn-blue:hover,
.rui.btn.btn-blue:hover {
  border: solid 3px #149de0;
  background-color: #149de0;
}

.btn-primary,
.rui.btn.btn-primary {
  border: solid 3px #fff;
  border-radius: 3px;
  background-color: #fff;
  color: #1d98d5;
}

.btn-primary:active,
.rui.btn.btn-primary:active,
.btn-primary:focus,
.rui.btn.btn-primary:focus,
.btn-primary:hover,
.rui.btn.btn-primary:hover {
  border: solid 3px #fff;
  color: #fff;
  background-color: transparent;
}

.rui.btn.flat.btn-primary {
  color: black;
}