
.product-grid-item {
  .overlay {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-top: 0;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  .overlay-title {
    font-size: 16px;
    letter-spacing: 0.3px;
    min-width: 0; /* By default, flex items won't shrink below their minimum content size (the length of the longest word or fixed-size element). To change this, set the ‘min-width’ or ‘min-height’ property */
    overflow:hidden;
    padding: 5px 15px 15px;
    text-overflow: ellipsis;
    text-transform: inherit;
    white-space: nowrap;
  }
  .currency-symbol {
    font-size: 16px;
    letter-spacing: 0.3px;
    padding: 5px 5px 15px;
  }
}