
.product-grid-item {
  margin-bottom: 40px;
  .overlay {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-top: 0;
    color: black;
    display: flex;
    justify-content: space-between;
  }
  .overlay-title {
    font-size: 16px;
    letter-spacing: 0.3px;
    min-width: 0; /* By default, flex items won't shrink below their minimum content size (the length of the longest word or fixed-size element). To change this, set the ‘min-width’ or ‘min-height’ property */
    overflow:hidden;
    padding: 5px 15px 15px 10px;
    text-overflow: ellipsis;
    text-transform: inherit;
    white-space: nowrap;
  }
  .currency-symbol {
    font-size: 16px;
    letter-spacing: 0.3px;
    padding: 5px 10px 15px;
  }
}


@media @mobile {
  .product-grid-list {
    .product-grid-item {
      /* on mobile deviced, we're only showing the first featured product */
      &:first-child {
        display: block;
      }
      display: none;
    }
  }
}

.image-gallery {
  .col-sm-5ths {
    padding: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* BOF category tiles */
.categories {
  @media screen and (min-width: @screen-sm-min) {
    display: flex; /* to have each floated child have height: 100% working */
  }
}

.pic-essentials {
  background-image: url('/plugins/reaction-swag-shop/essentials.jpg');
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  @media screen and (max-width: @screen-xs-max) {
    height: 500px;
    margin: 0 5px;
  }
}

.cat-tile {
  padding: 10px;

  img {
    width: 100%;
  }
}

.category {
  color: white;
  font-size: 26px;
  position: absolute;
  bottom: 10%;
  left: 20px;
}

.btn-essentials {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
}
/* EOF category tiles */

